@model System.Collections.Generic.IEnumerable<Syp.ViewModel.ServiceDetailViewModel>

@{
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Ekle", "Create")
</p>
<table class="table">
   <tr>
       <th>
           @Html.DisplayNameFor(model => model.ServiceId)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.DetailTypeId)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.Info)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.CreatedOn)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.CreatedBy)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.UpdatedOn)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.UpdatedBy)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.IsDeleted)
       </th>
       <th>
           @Html.Label("", "İşlemler")
       </th>
   </tr>
   @foreach (var item in Model)
   {
       <tr>
           <td>
               @(item.ServiceId)
           </td>
           <td>
               @(item.DetailTypeId)
           </td>
           <td>
               @(item.Info)
           </td>
           <td>
               @(item.CreatedOn)
           </td>
           <td>
               @(item.CreatedBy)
           </td>
           <td>
               @(item.UpdatedOn)
           </td>
           <td>
               @(item.UpdatedBy)
           </td>
           <td>
               @(item.IsDeleted)
           </td>
           <td>
               @Html.ActionLink("Detay", "Detail", new { id = item.Id }) |
               @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
               @Html.ActionLink("Sil", "Delete", new { id = item.Id })
           </td>
       </tr>
   }
</table>
<div>
       <ul>
           <li>@Html.ActionLink("Anasayfaya dön", "Index", "Home")</li>
       </ul>
</div>